
.profile__add-button {
    border: 2px solid #ffffff;
    width: 150px;
    object-fit: none;
    height: 50px;
}
@media screen and (max-width:700px) {
    .profile__add-button {
        border: none;
    }
}